html {
    background-color: rgb(41, 41, 41);
}

body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(192, 175, 175);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#grid {
    position: relative;
}

.cell {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 84px;
    height: 84px;
    display: inline-block;
    border-width: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
}

.grid-cell {
    border-color: rgb(209, 180, 180);
    background-color: rgb(50, 70, 83);
}

.animated-cell {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.path-cell {
    background-color: rgb(101, 156, 119);
}

.arrow-cell {
    background-color: rgb(99, 61, 80);
}

.player {
    width: 24px;
    height: 24px;
    background-color: rgb(107, 134, 107);
    color: black;
    border-radius: 50%;
    margin: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 3px solid rgb(107, 134, 107);
    text-align: center;
}

.active-player {
    background-color: rgb(88, 180, 88);
    border-top: 3px solid rgb(88, 180, 88);
}

.treasure {
    width: 24px;
    height: 24px;
    background-color: rgb(132, 134, 107);
    color: black;
    border-radius: 50%;
    margin: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 3px solid rgb(132, 134, 107);
    text-align: center;
}

.active-treasure {
    background-color: rgb(180, 178, 88);
    border-top: 3px solid rgb(180, 178, 88);
}

.found-treasure {
    background-color: rgb(180, 88, 88);
    border-top: 3px solid rgb(180, 88, 88);
}

.corner-cell {
    position: relative;
}

.corner-marker {
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.2);
}

#winner {
    color: yellow;
    font-size: large;
}

.hidden {
    display: none;
}
