html {
    background-color: rgb(41, 41, 41);
}

body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(192, 182, 175);
}

#grid {
    position: relative;
}

.cell {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 83px;
    height: 83px;
    display: inline-block;
    border-radius: 10px;
}

.grid-cell {
    border-color: rgb(209, 180, 180);
    background-color: rgb(50, 70, 83);
}

.animated-cell {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

#manual {
    display: none;
}

#grid {
    display: block; /* none */
}

.path-cell {
    background-color: rgb(101, 156, 119);
}

.arrow-cell {
    background-color: rgb(99, 61, 80);
}
